html, body {
    background-size: contain;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    overflow: hidden;
}

body {
    background-size: 100%;
    background-image: url(../images/black.png);
    transition: background 0.5s linear;
}

.centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 80vh;
    position: absolute;
    width: 100%;
    font-family: "Nimbus Sans", sans-serif;
    font-size: 126px;
    font-weight: 700;
    color: #FFFFFF;
    text-shadow: 2px 2px black;
}

.welcome {
    font-family: "Nimbus Sans", sans-serif;
    font-size: 50px;
    font-weight: 700;
    color: #FFFFFF;
}

#pexel_logo {
    cursor: pointer;
    position: absolute;
    transform: scale(0.2);
    top: 88%;
    left: 74.7%;
}

#events {
    position: absolute;
    left: 2%;
    top: 5%;
    width: 25%;
    background-color: rgba(0, 167, 228, 0.3);
    border-radius: 10px 10px 5px 5px;
    color: #FFFFFF;
}

.title {
    background-color: rgba(0, 167, 228, 1);
    border-radius: 10px 10px 0 0;
    line-height: 150%;
    text-align: center;
}

.module {
    cursor: pointer;
}

tr:nth-child(even) {
    background-color: rgba(0, 167, 228, 0.3);
    color: #FFFFFF;
}

.col-autologin {
    margin-top: 2rem;
    border-radius: 10px;
    position: relative;
}

#autologin {
    font: 20px "Nimbus Sans", "Lato", Arial, sans-serif;
    color: #FFFFFF;
    width: 100%;
    height: 40px;
    border-radius: 10px;
    box-sizing: border-box;
    letter-spacing: 1px;
    background: rgba(51, 51, 51, 0.7);
}

#autologin input:focus {
    outline: none;
}

.autologin-effect {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 7px 14px 9px;
    transition: 0.4s;
}

#autologin_get {
    height: 50px;
    position: relative;
    border-radius: 20px;
}

.autologin_help {
    font-size: 20px;
    font-weight: 100;
}

.searchbox-container {
    margin-top: 2rem;
    justify-content: left;
}

.searchbox-container img {
    height: 1.5rem;
}

.searchbox {
    display: flex;
    padding-left: 1rem;
    justify-content: space-between;
    align-items: center;
    border-radius: 22px;
    box-sizing: border-box;
    font-size: 16px;
    background: white;
    width: 30rem;
    height: 2.5rem;
    border: 2px solid rgb(118, 118, 118);
}

.searchbox input {
    padding-top: 2px;
    border: none;
    height: 100%;
    width: 90%;
    font-size: 16px;
    cursor: text;
    background: transparent;
}

.searchbox input:focus {
    outline: none;
}

.search-go {
    border-radius: 50%;
    width: 10%;
    height: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.settings {
    color: white;
    display: flex;
    justify-content: space-between;
}

.toggler {
    cursor: pointer;
}

.drawer {
    height: 100%;
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0;
    background-color: rgba(51, 51, 51, 0.7);
    overflow-x: hidden;
    color: white;
    transition: 0.5s;
}

.drawer .container {
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.drawer .toggler {
    align-self: flex-end;
    font-size: 20px;
}

.beforeTimer-container {
    margin-top: 8px;
}

.mdl-button-color-1 {
    background: #3f51b5 !important;
    color: #FFFFFF !important;
}

.mdl-button-color-2 {
    background: #ff4081 !important;
    color: #FFFFFF !important;
}

.mdl-button {
    background: 0 0;
    border: none;
    border-radius: 2px;
    color: white;
    position: relative;
    height: 36px;
    margin: auto;
    margin-bottom: 8px;
    min-width: 64px;
    padding: 0 16px;
    display: inline-block;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0;
    overflow: hidden;
    will-change: box-shadow;
    transition: box-shadow .2s cubic-bezier(.4,0,1,1),background-color .2s cubic-bezier(.4,0,.2,1),color .2s cubic-bezier(.4,0,.2,1);
    outline: none;
    cursor: pointer;
    text-decoration: none;
    line-height: 36px;
    vertical-align: middle;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}

.bottom-settings-close {
    align-self: center !important;
    left: 0;
    margin-top: 3rem;
}

.gotoIntra {
    cursor: pointer;
}