html {
    width: 300px;
    background-color: #00A7E4;
    color: #FFFFFF;
    font-weight: bold;
}

body {
    width: 92%;
}

.title {
    width: 100%;
    padding: 4px;
    text-align: center;
    font-size: 110%;
    background-color: #000fe4;
}

.event {
    padding-bottom: 5px;
    text-align: center;
    cursor: pointer;
    font-size: 110%;
}

.intranet {
    width: 100%;
    color: #000000;
    padding: 4px;
    text-align: right;
    cursor: pointer;
}

.intranet {
    background-color: #CFF2F2;
}

td {
    text-align: center;
}

td:hover {
    font-weight: 500;
    background-color: rgba(0, 167, 255, 200);
}
